@layer component {
  #app-header {
    background-color: var(--primary-color);
    color: white;
    padding-block: 20px 40px;
  }

  #app-header h1 {
    font-size: 1.125rem;
    font-weight: normal;
    text-align: center;
  }
}
