@layer component {
  .btn {
    display: inline-block;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    letter-spacing: 0.6px;
    text-decoration: none;
    cursor: pointer;
    transition: translate 300ms, opacity 300ms;
  }

  .btn:hover {
    opacity: 0.8;
  }

  .btn:active {
    translate: 1px 1px;
  }

  .btn--raised {
    background-color: var(--primary-color);
    color: white;
  }

  .btn--link {
    color: var(--primary-color);
  }

  .btn--block {
    display: block;
    margin-inline: auto;
    width: 100%;
    max-width: 800px;
  }
}
