@layer component {
  #dots {
    margin-block: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .dot {
    border: 1px solid var(--primary-color);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: background-color 800ms, scale 400ms;
  }

  .dot:hover {
    opacity: 0.8;
  }

  .active {
    background-color: var(--primary-color);
    scale: 1.5;
  }
}
