@layer component {
  #dots {
    margin-block: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .dot {
    border: 1px solid var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .active {
    background-color: var(--primary-color);
    scale: 1.5;
  }
}
