@layer component {
  #nav-spacer {
    height: 70px;
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-inline: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    box-shadow: 0 -3px 10px rgba(0 0 0 / 0.3);
  }

  .nav-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-block: 20px;
    transition: opacity 300ms;
    text-decoration: none;
    color: var(--primary-color);
  }

  .nav-item:hover {
    opacity: 0.8;
  }

  @media (max-width: 465px) {
    .nav-item .nav-item-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
    }
  }
}
