@layer component {
  #nav-spacer {
    height: 70px;
    background-color: red;
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-inline: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .nav-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    outline: 1px solid rgba(0 0 0 / 0.3);
  }
}
