@layer page {
  #recover-password {
    background-image: url("/assets/icons/lock.svg");
    background-repeat: no-repeat;
    background-position: center left;
    text-align: left;
    padding-left: 40px;
  }

  #phone-section {
    display: flex;
  }

  .fixed-left {
    padding: 20px;
    border: 2px solid var(--light-border-color);
    border-right: 0;
    border-radius: 5px 0 0 5px;
  }

  .fixed-left + #phone-number {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #us-flag {
    background-image: url("/assets/icons/flag-us.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
